*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: teal;
  height: 45px;
}
.navLinks{
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 600;
  padding: 0 15px;
  transition: 0.3s ease-in;
}
.navLinks:hover{
  text-decoration: none;
  background-color: #fff;
  border: none;
}
.navLinks:hover .active_class{
  border-bottom: none;
}
.active_class{
  border-bottom: 3px solid rgba(180, 4, 4, 0.3);
}
